@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:400,600,700');


* {
	padding:0;
	margin:0;
	font-family: 'Josefin Slab', serif;
	font-weight: normal;
  /*font-style: italic;*/
	font-weight: 600; /*700 / 300 / 600*/
}

html { font-size: 10px; }

/*@media only screen
            and (max-width : 320px) {
                html { font-size: 27px; }
            }*/

@media screen and (min-width: 980px) { html { font-size: 12px; } }

/*@media (min-width: 992px) {
        font-size: calc(100vw / 20);
      }*/


body { margin: 0; padding: 0; font: 200 1.4rem/2.6rem "Noto Sans", sans-serif; color: #000000;  -webkit-text-size-adjust: 100%; -webkit-font-feature-settings: "kern" 1; -moz-font-feature-settings: "kern" 1; -o-font-feature-settings: "kern" 1; font-feature-settings: "kern" 1; font-kerning: normal; word-break: keep-all; -webkit-font-smoothing: antialiased; }

body {
  /*background:#E9E9FF;
-webkit-animation:colour 10s linear infinite;
-moz-animation:colour 10s linear infinite;*/
	position: relative;
	background-color: #ffffff;
	-webkit-text-size-adjust: 100%;
}
html, body {
	height:100%;
}
img {
	width: 100%;
}
a:link, a:visited {
	text-decoration: none;
	color:#000000;
}
a:hover, a:active {
	color:#6D3CFB;
}

::-moz-selection {
	color:#ffffff;
	background-color: #6D3CFB;
}
::selection {
	color:#ffffff;
	background-color: #6D3CFB;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}



.container {
	/*position: absolute;*/
	overflow: hidden;
  width: 90%;
  margin: 0rem auto;
  /*border: 0.1rem solid black;*/
  max-width: 1100px;
  height: 100%;
}
@media screen and (min-width: 1px) and (max-width: 650px) {
    .container {
      width: 90%;
    }
  }
@media screen and (min-width: 651px) and (max-width: 800px) {
    .container {
      width: 90%;
    }
	}
@media screen and (min-width: 801px) and (max-width: 1200px) {
    .container {
      width: 90%;
    }
	}
	/*iPhone 6 and iPhone 6+ portrait and landscape*/
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px){
	}


.header {
	max-width: 1100px;

  position: fixed;
  bottom:1rem;

  /* center the element */
  right: 0;
  left: 0;
  top:0.7rem; /* 0.3 to 0.5*/
  margin-right: auto;
  margin-left: auto;
  /* give it dimensions */
  /*min-height: 10em;*/
  width: 90%;

  /*width: 100%;*/
  margin:0.3rem auto;
  /*border: 0.1rem solid black;*/

}
.header, #footer {
  z-index: 5;
  max-height: 5rem;
  /*border: 1px solid blue;*/
}
.contents {
	overflow: hidden;
  margin-top: 3rem ;
  width: 100%;
  height: 100%;
  /*border: 0.1rem solid black;*/

}
#footer {
	max-width: 1100px;
  margin-top: 3rem;
  margin: 0;

  /*border: 0.1rem solid black;*/
  position: fixed;
  bottom:6rem;/*6 to 3.3*/

  /* center the element */
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  /* give it dimensions */
  /*min-height: 10em;*/
  width: 90%;


}
@media screen and (min-width: 1500px) {
	#footer {
		bottom:11.5rem;
	}
}
#footer p {
  font-size: 1.3rem;
  line-height: 1.7rem;
  text-align: right;
}
#title img {
	width: 9rem;
	margin-top: 0.3rem;
	height: auto;
}

.header p {
  font-size: 2rem;
  height: auto;
}
.contents h1, h2 {
  text-align: center;
  margin: 10rem auto 5rem auto;
}

.contents h1 {
  font-size: 6.7rem;
  animation: fadein 0.9s linear forwards;
  opacity: 0;
}
.contents h2 {
  font-size: 2.8rem;
  line-height: 3rem;
  margin: 3rem auto;
  animation: fadein 0.9 linear forwards;
  -webkit-animation-delay: 0.9s;

  opacity: 0;
}
.contents h2:nth-child(3) {
  -webkit-animation-delay: 1.8s;
}
.contents h2:nth-child(4) {
  -webkit-animation-delay: 2.7s;
}
.contents h1:nth-child(5) {
  font-size: 8rem;
  margin-top:6rem;

  -webkit-animation-delay: 3.6s;
}

.contents h1 a img {
	width: 9rem;
	height: 9rem;
	margin-top: -1.8rem;
}

#introduction {
  margin-top: -2.9rem;
  position: fixed;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*border: 1px solid pink;*/
}


@keyframes fadein {
  to {
    opacity: 1;
  }
}


@-webkit-keyframes colour{
	0%{
		background:#FFE9E9
	}

	40%{
		background:#EDFFE9
	}

	60%{
		background:#E9F1FF
	}

	80%{
		background:#E9E9FF
	}
  100%{
		background:#FFE9E9
	}

}

@-moz-keyframes colour{
	0%{
		background:#FFE9E9
	}

	40%{
		background:#EDFFE9
	}

	60%{
		background:#E9F1FF
	}

	80%{
		background:#E9E9FF
	}
  100% {
    background:#FFE9E9
  }

}

#footer-container {
	width: 100%;
	height: 11rem;
	position: fixed;
	bottom: 0;
	background-color: #9570FF;
	color: #ffffff;
	transition-property: all;
  transition-duration: 0.8s;
}
#footer-container a:link, #footer-container a:visited {
	color: #ffffff;
}

#footer-container a:hover, #footer-container a:active {
	text-decoration: underline;
}

@media screen and (min-width: 1500px) {
	#footer-container {
		height: 17rem;
	}
}

#emojis {
	/*border: 1px solid black;*/
	position: relative;
	bottom: 90vh;/*15.5 to 13*/
	/*right: 0rem;*/
	margin-left:auto;
	margin-right:0;

	width: 3rem;
	height: 2.5rem;
	z-index: 100;
	text-align: right;
}

.emoji {
	position: fixed;
	width: 4rem;
	display: inline-block;
	/*margin-left: 2.5rem;*/
	margin-bottom: 4rem;
	vertical-align: bottom;
	transition-property: all;
	transition-duration: 1.5s;
}

.emoji:hover {
	transform: rotateZ(360deg);
	cursor: pointer;
}

@media screen and (min-width: 1px) and (max-width: 650px) {
  .emoji {
    display :none;
    }
}

/*iPhone 6 and iPhone 6+ portrait and landscape*/
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px){
  .emoji {
    display :none;
    }
}
